---
const {races} = Astro.props;
---
<form class="py-3 md:py-10 px-2 md:px-5 h-full">
    <div>
        <label for="progress-1-race" class="">Choose your race:</label>
        <select id="progress-1-race" class="flex flex-col w-52 rounded-xl py-1 my-1">
            <option class="hidden">Select</option>
        {
            races.data.map((race) => (
                <option id={`raceName_${race.attributes.raceName.replace(/\s+/g,'')}`} value={race.attributes.raceName.replace(/\s+/g,'')}>{race.attributes.raceName}</option>
        ))}
        </select>
    </div>
    <div id="racial-traits" class="flex flex-col py-5 md:py-10 gap-y-2">
        {
            races.data.map((race) => (
                <div class="hidden"  id={race.attributes.raceName.replace(/\s+/g,'')}>
                    <p class="whitespace-break-spaces px-5 text-[10px] pb-4">{race.attributes.flavorText}</p>
                    <p id="ASI" class="whitespace-break-spaces px-5 text-[10px] pb-4">
                        <b>Ability Score Increase.</b> {race.attributes.abilityScoreIncrease}
                    </p>
                    {
                        race.attributes.racial_features.data.map((feature) => (
                            <p id={feature.attributes.racialFeatureName} class="whitespace-break-spaces px-5 text-[10px] pb-4">
                              <b>{feature.attributes.racialFeatureName}.</b> {JSON.stringify(feature.attributes.racialFeatureEffect)}
                            </p>
                    ))}
                </div>
        ))}
    </div>
</form>
<script>
    const selector = document.querySelector('#progress-1-race');
    selector?.addEventListener('change', () => {
        const details = document.getElementById(selector.options[selector.selectedIndex].id.split('raceName_')[1])
        details?.classList.remove('hidden')

        const otherContainers = document.getElementById('racial-traits')?.children
        if(otherContainers){
            for(let container of otherContainers){
                if(container !== details)
                    container.classList.add('hidden')
            }
        }

    })
</script>