---
const {title, text, buttonLink, imageUrl, imageAlt} = Astro.props;
---
<section class="bg-[#f8f5cf] object-contain xl:w-[300px] xl:h-[500px] w-[250px] h-[400px] max-lg:my-5 rounded-3xl flex flex-col justify-center items-center font-serif gap-y-4 pt-10">
    <img class="xl:w-52 w-36 rounded-full" src={imageUrl} alt={imageAlt} />
    <p class="text-xs xl:text-sm">{title}</p>
    <p class="text-[8px] xl:text-[10px] pl-5">{text}</p>
    <a class="rounded-lg py-2 px-3 bg-[#202e20] text-white font-serif text-[10px] my-10" href={buttonLink} aria-label="Learn More about this class">Learn more</a>
</section>